
<div class="container">
    <p-tabView>

        <p-tabPanel header="ManagementUser" leftIcon="pi pi-calendar">
            <p-dataView #dv [value]="userReport" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="brand">
                <ng-template let-userReport pTemplate="listItem">
                    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                        <div class="ui-g-12 ui-md-4" style="text-align:center;">
                            <img src="assets/img/{{userReport.avatar}}" style="width:300px">
                        </div>
                        <div class="ui-g-12 ui-md-8 car-details">
                            <div class="ui-g">
                                <div class="ui-g-4 ui-sm-6">ชื่อ: </div>
                                <div class="ui-g-8 ui-sm-6">
                                    <b>{{userReport.name}}</b>
                                </div>

                                <div class="ui-g-4 ui-sm-6">นามปากกา: </div>
                                <div class="ui-g-8 ui-sm-6">{{userReport.penname}}</div>

                                <div class="ui-g-4 ui-sm-6">Comment: </div>
                                <div class="ui-g-8 ui-sm-6">
                                    <textarea pInputTextarea type="text" style="width:100%;resize:none;height:100px;" readonly>{{userReport.collectComment}}</textarea>
                                    <div style="margin-left:61.5%;">
                                            <button pButton type="button" style="margin-right:3px;" label="ไม่แบน" icon="pi pi-check" class="ui-button-success" (click)="confirm1(userReport.idUserComment);"></button>
                                            <button pButton type="button" label="แบน" icon="pi pi-times" class="ui-button-danger" (click)="confirm2(userReport.idUser,userReport.idUserComment);"></button>
                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </p-tabPanel>

        <p-tabPanel header="ManagementWebboard" leftIcon="pi pi-calendar">
            <p-dataView #dv [value]="cwebboard" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="brand">
                <ng-template let-cwebboard pTemplate="listItem">
                    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                        <div class="ui-g-12 ui-md-4" style="text-align:center;">
                            <img src="assets/img/{{cwebboard.avatar}}" style="width:300px">
                        </div>
                        <div class="ui-g-12 ui-md-8 car-details">
                            <div class="ui-g">
                                <div class="ui-g-4 ui-sm-6">ชื่อ: </div>
                                <div class="ui-g-8 ui-sm-6">
                                    <b>{{cwebboard.name}}</b>
                                </div>

                                <div class="ui-g-4 ui-sm-6">นามปากกา: </div>
                                <div class="ui-g-8 ui-sm-6">{{cwebboard.penName}}</div>

                                <div class="ui-g-4 ui-sm-6">Comment: </div>
                                <div class="ui-g-8 ui-sm-6">
                                    <textarea pInputTextarea type="text" style="width:100%;resize:none;height:100px;" readonly>{{cwebboard.collectUserWebboard}}</textarea>
                                    <div style="margin-left:61.5%;">
                                        <button pButton type="button" style="margin-right:3px;" label="ไม่แบน" icon="pi pi-check" class="ui-button-success" (click)="confirm3(cwebboard.idUserWebboard);"></button>
                                        <button pButton type="button" label="แบน" icon="pi pi-times" class="ui-button-danger" (click)="confirm4(cwebboard.idUserWebboard);"></button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </ng-template>
            </p-dataView>
        </p-tabPanel>

        <p-tabPanel header="ManagementHeader" leftIcon="pi pi-calendar">
            <p-dataView #dv [value]="admin" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="brand">
                <ng-template let-admin pTemplate="listItem">
                    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                        <div class="ui-g-12 ui-md-12 car-details">
                            <div class="ui-g">
                                <div class="ui-g-2 ui-sm-6">หัวข้อเว็บบอร์ด: </div>
                                <div class="ui-g-10 ui-sm-6">
                                    <b>{{admin.headderWebboard}}</b>
                                </div>

                                <div class="ui-g-2 ui-sm-6">ผู้สร้างเว็บบอร์ด: </div>
                                <div class="ui-g-10 ui-sm-6">{{admin.penName}}</div>

                                <div class="ui-g-2 ui-sm-6">เนื้อหาที่สร้าง: </div>
                                <div class="ui-g-10 ui-sm-6">
                                    <textarea pInputTextarea type="text" style="width:100%;resize:none;height:100px;" readonly>{{admin.collectWebboard}}</textarea>
                                </div>


                            </div>
                        </div>

                        <div style="width:100%;padding-left:90%;">

                            <button pButton type="button" label="ลบโพส" icon="pi pi-times" class="ui-button-danger" (click)="confirm5(admin.idWebboard);"></button>
                        </div>

                    </div>
                </ng-template>
            </p-dataView>
        </p-tabPanel>

    </p-tabView>
</div>