<div style="margin-top: 25px;">
  <div class="border-div">
    <div class="menu-div">
      <div class="img-name-div">
        <div class="register-img">
          <img [src]="imgProfile" />
        </div>
        <div class="name-img">
          <h4>{{user.name}} {{user.lastname}}</h4><br>
          <h5>{{user.panname}}</h5>
        </div>
      </div>
      <hr>
      <div style="margin-bottom: 15px;">
        <div class="main-menu" (click)="onClickChangePage('listyourniyay');">
          นิยายที่สร้าง
        </div>
        <div class="main-menu" (click)="onClickChangePage('createyourniyay');">
          สร้างนิยาย
        </div>
        <div class="main-menu" (click)="onClickChangePage('yourbookfavor');">
          นิยายที่ติดตาม
        </div>
      </div>
    </div>
    <div class="main-menu-select">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="nav-div-login">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">
              email
            </i></span>
        </div>
        <input type="email" class="form-control" placeholder="Email" aria-label="Email" [(ngModel)]="user.email">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">
              https
            </i></span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" [(ngModel)]="user.password">
      </div>
      <div class="nav-div-login-btn">
        <button type="button" class="btn btn-primary" (click)="login();">Login</button>
      </div>
      <div class="nav-div-reg-btn">
        <button type="button" class="btn btn-success" (click)="changePageRegister();">Register</button>
      </div>
      <div class="nav-div-forg-btn">
        <button type="button" class="btn btn-warning">forgot password</button>
      </div>
    </div>
  </div>
</ng-template>
