<p-tabView>

  <p-tabPanel header="สร้าง webboard ของแอดมิน" leftIcon="pi pi-calendar">
    <div style="padding-bottom:1%;background-color:khaki;">
      <div style="padding-top:1%;padding-left:1%;">
        <h1 style="color:tomato;text-align:center;">สร้างเว็บบอร์ดแอดมิน</h1>
      </div>
      <div style="margin-left:15%;border:1px solid black;background-color:ghostwhite;width:70%">
        <div class="row" style="margin-top:1%;">
          <div class="col">
            <h4 style="padding-left:40%">ชื่อหัวข้อเว็บบอร์ด</h4>
          </div>
          <div class="col-6">
            <input #head type="text" class="form-control" placeholder="กรอกชื่อหัวข้อ" style="width:80%">
          </div>
        </div>
        <div class="row" style="margin-top:1%;">
          <div class="col">
            <h4 style="padding-left:40%;">เนื้อหา</h4>
          </div>
          <div class="col-6">
            <textarea #collect pInputTextarea type="text" style="width:80%;resize:none;height:100px;"></textarea>
          </div>
        </div>
        <div class="row" style="margin-top:1%;">
          <div class="col">
            <button style="width:100%;" type="button" class="btn btn-success btn-sm" (click)="CreateWeb(head.value,collect.value)">
              <span class="fas fa-plus"></span>
              <span style="color:yellow;padding-left:2%;">Submit</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="แก้ไข webboard ของแอดมิน" leftIcon="pi pi-calendar">
    <p-dataView #dv [value]="adminType" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="brand">
      <ng-template let-adminType pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
          <div class="ui-g-12 ui-md-12 car-details">
            <div class="ui-g">
              <div class="ui-g-2 ui-sm-6">หัวข้อเว็บบอร์ด: </div>
              <div class="ui-g-10 ui-sm-6"><textarea pInputTextarea type="text" style="width:100%;resize:none;" #headder>{{adminType.headderWebboard}}</textarea>
              </div>

              <div class="ui-g-2 ui-sm-6">ผู้สร้างเว็บบอร์ด: </div>
              <div class="ui-g-10 ui-sm-6">{{adminType.userName}}</div>

              <div class="ui-g-2 ui-sm-6">เนื้อหาที่สร้าง: </div>
              <div class="ui-g-10 ui-sm-6">
                <textarea pInputTextarea type="text" style="width:100%;resize:none;height:100px;" #collect>{{adminType.collectWebboard}}</textarea>
              </div>
            </div>
          </div>

          <div style="width:100%;padding-left:90%;">
            <button pButton type="button" label="แก้ไขโพส"  class="ui-button-warning" (click)="confirm(adminType.idAdminWebboard,headder.value,collect.value);"></button>
          </div>

        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
</p-tabView>