<div class="div">
  <div class="div-main">
    <div class="card">
      <div class="card-header">
        episode list
      </div>
      <div class="card-body">

        <!-- <div class="div-bin-create-episode"> -->
          <button class="btn btn-primary" (click)="clickChangeComponent()" id="btn-create-episode">add episode</button>
        <!-- </div> -->
        <hr>
        <div *ngIf="episodes">
          <div *ngFor="let episode of episodes; let i = index">
            <div class="episode-list">
              <a [routerLink]="['../updateepisode', episode.id_episode]" (click)="updateEpisode(episode)">{{episode.name_episode}}</a>
              <div class="view"><i class="fas fa-eye"></i> {{episode.view}}</div>
            </div>
            <hr *ngIf="i+1 != episodes.length ">
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
