<div style="padding-bottom:1%;background-color:khaki;">
    <div style="padding-top:1%;padding-left:5%;">
        <h3>เว็บบอร์ด</h3>
        <h3 style="color:hotpink;">WEBBOARD</h3>
    </div>
  <div style="border:1px solid black;margin-left:5%;background-color:ghostwhite;width:90%;margin-bottom:1%;">
      <div *ngIf="!cCommentModifyDelelt">
    <div class="row">
      <div *ngFor="let row of main" class="col-3"style="text-align:center;">
         <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
         <strong >{{row.penName}}</strong>
        </div>
        <div class="col" style="margin-top:1%;">
            <textarea   type="text" style="width:40%;resize:none;font-size:100%;" [(ngModel)]="text" readonly></textarea>
            <textarea  pInputTextarea type="text" style="margin-top:1%;width:95%;resize:none;height:200px;"[(ngModel)]="collecttext" readonly></textarea>
            <hr style="width:97%;margin-right:2.7%;">
            <div *ngIf="checklogin" style="border:1px solid black;margin-left:5%;background-color:ghostwhite;width:90%;margin-bottom:1%;">
                    <div class="row">
                      <div class="col-3"style="text-align:center;">
                         <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
                         <strong >Penname</strong>
                        </div>
                        <div class="col" style="margin-top:1%;">
                            <textarea #collect pInputTextarea type="text" style="margin-left:15%;margin-top:1%;width:80%;resize:none;height:100px;"></textarea>
                            <button type="button" class="btn btn-success" style="float:right;margin-right:5%;margin-bottom:1%;width:20%;" (click)="Comment(collect.value);">โพส</button>
                        </div>
                      </div>
                  </div>
        </div>
      </div>
    </div>
    <div *ngIf="cCommentModifyDelelt">
            <div class="row" *ngFor="let rows of main">
              <div  class="col-3"style="text-align:center;">
                 <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
                 <strong >{{rows.penName}} </strong>
                </div>
                <div class="col" style="margin-top:1%;">
                    <textarea  #head type="text" style="width:40%;resize:none;font-size:100%;" [(ngModel)]="text" ></textarea>
                    <textarea #collect pInputTextarea type="text" style="margin-top:1%;width:95%;resize:none;height:200px;"[(ngModel)]="collecttext" ></textarea>
                    <div style="margin-left:59.5%;">
                            <button pButton type="button" style="margin-right:2px;" label="แก้ไขข้อความเว็บบอร์ด" class="ui-button-warning" (click)="modify(head.value,collect.value,rows.idWebboard);"></button>
                            <button pButton type="button" label="ลบเว็บบอร์ด" class="ui-button-danger" (click)="deleteweb(rows.idWebboard)"></button>
                    </div>
                    <hr style="width:97%;margin-right:2.7%;">
                    <div *ngIf="checklogin" style="border:1px solid black;margin-left:5%;background-color:ghostwhite;width:90%;margin-bottom:1%;">
                            <div class="row">
                              <div class="col-3"style="text-align:center;">
                                 <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
                                 <strong >Penname</strong>
                                </div>
                                <div class="col" style="margin-top:1%;">
                                    <textarea #collect pInputTextarea type="text" style="margin-left:15%;margin-top:1%;width:80%;resize:none;height:100px;"></textarea>
                                    
                                    <button type="button" class="btn btn-success" style="float:right;margin-right:5%;margin-bottom:1%;width:20%;" (click)="Comment(collect.value);">โพส</button>
                                </div>
                              </div>
                          </div>
                </div>
                
              </div>
            </div>
  </div>
 
  <div style="border:1px solid black;margin-left:5%;background-color:ghostwhite;width:90%;margin-bottom:1%;">
      
        <div  *ngFor="let rows of comment | paginate: { itemsPerPage: 10, currentPage: p }; let s=index;">
                <div *ngIf="!checklogin" class="row">
                        <div   class="col-3" style="text-align:center;">
                                <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
                                <strong>{{rows.penName}}</strong>
                               </div>
                               <div class="col" style="margin-top:1%;">
                                   <textarea  pInputTextarea type="text" style="margin-left:5%;margin-top:1%;width:90%;resize:none;height:100px;"[(ngModel)]="texts[s]" readonly>{{rows.penName}}</textarea>
                               </div>
                               <hr style="width:97%;margin-right:2.7%;">
                    </div>
                <div *ngIf="checklogin">
       <div *ngIf="gg!=rows.idUser" class="row">
          <div   class="col-3" style="text-align:center;">
             <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
             <strong>{{rows.penName}}</strong>
            </div>
            <div class="col" style="margin-top:1%;">
                <textarea  pInputTextarea type="text" style="margin-left:5%;margin-top:1%;width:90%;resize:none;height:100px;"[(ngModel)]="texts[s]" readonly>{{rows.penName}}</textarea>
                <button type="button" class="btn btn-danger" style="float:right;margin-right:5%;margin-bottom:1%;width:20%;" (click)="report(rows.idUserWebboard);">รายงาน</button>
            </div>
            <hr style="width:97%;margin-right:2.7%;">
        </div>
        <div *ngIf="gg==rows.idUser" class="row">
                <div   class="col-3" style="text-align:center;">
                   <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
                   <strong>{{rows.penName}}</strong>
                  </div>
                  <div class="col" style="margin-top:1%;">
                      <textarea #collect pInputTextarea type="text" style="margin-left:5%;margin-top:1%;width:90%;resize:none;height:100px;"[(ngModel)]="texts[s]" >{{rows.penName}}</textarea>
                      <div style="float:right;margin-right:5%;margin-bottom:1%;">
                            <button pButton type="button" style="margin-right:2px;" label="แก้ไขคอมเมนต์" class="ui-button-warning" (click)="modifycomment(collect.value,rows.idUserWebboard);"></button>
                            <button pButton type="button" label="ลบคอมเมนต์" class="ui-button-danger" (click)="deletecomment(rows.idUserWebboard)"></button>
                        </div>
                  </div>
                  <hr style="width:97%;margin-right:2.7%;">
              </div>
            </div>
          </div>
     
      </div> 
</div>