h3{
    text-align: center;
}
/* div.icons{
    padding: 2%;
} */
div.icons span{
    font-size: 20px;
    /* margin-left: 180px; */
}
div.story{
    margin: 20px;
}
h4{
    text-align: center;
}
div.day{
    margin-top: 1%;
}