<div class="div-niyayhit">
  <div class="row">
    <div class="col-3" style="text-align: center;">
      <!-- <h2>นิยายฮิต</h2> -->
      <img style="height: 100%; width: 100%;" src="../../../assets/img/hit.png" />
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ประเภท</span>
            </div>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ปี</span>
            </div>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">สถานะ</span>
            </div>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-success" id="btn-search"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="card-img">
                <img src="../../../assets/img/book.png" />
              </div>
            </div>
            <div class="col-8">
              sdfsf
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          Card 2
        </div>
      </div>
    </div>
  </div>
</div>