.div-niyayhit{
    margin-top: 25px;
    border-style: solid;
    width: 100%;
    padding: 25px;
    overflow: auto;
    background-color:cornsilk;
    margin-bottom: 20px;
}

#btn-search{
    width: 100%;
}

.card-img img{
    width: 120px;
    height: 150px;
    border: 1px solid;
    cursor: pointer;
}

img{
    vertical-align: middle;
    padding: 5px;
}

.div-book-left{
    width: 49%;
    float: left;
    margin-bottom: 5px;
    height: 250px;
    /* border: 2px solid; */
}

.div-book-right{
    width: 49%;
    float: right;
    margin-bottom: 5px;
    height: 250px;
    /* border: 2px solid; */
}

.input-group-prepend .input-group-text{
    width: 80px;
}

.my-pagination /deep/ .ngx-pagination .current{
    background-color:aqua;
    color:red;
}
.my-pagination /deep/ .ngx-pagination {
    background-color:dimgray;
    color:red;
    margin-bottom: 0;
    
}

