<div style="padding-bottom:1%;background-color:khaki;">
  <div style="padding-top:1%;padding-left:5%;">
    <h3>เว็บบอร์ด</h3>
    <h3 style="color:hotpink;">WEBBOARD</h3>
  </div>
  <div style="border:1px solid black;margin-left:5%;background-color:ghostwhite;width:90%">
    <div class="row">
      <div *ngFor="let row of adminType" class="col-3" style="text-align:center;">
        <img src="assets/img/login-image.jpg" style="margin-left:2%;margin-top:2%;width:190px;height:140px;">
        <strong>{{row.userName}}</strong>
      </div>
      <div class="col" style="margin-top:1%;">
        <textarea type="text" style="width:40%;resize:none;font-size:100%;" [(ngModel)]="text" readonly></textarea>
        <textarea pInputTextarea type="text" style="margin-top:1%;width:95%;resize:none;height:200px;" [(ngModel)]="collecttext"
          readonly></textarea>
        <hr style="width:97%;margin-right:2.7%;">
      </div>
    </div>
  </div>
</div>
