.div {
  margin-top: 25px;
  margin-left: 20px;
  width: 100%;
}

.div-main {
  /* border: 2px solid; */
  width: 100%;
  margin-bottom: 25px;
}

.view {
  float: right;
}

.episode-list {
  width: 100%;
  display: block;
}

#btn-create-episode {
  width: 100%;
}

.div-bin-create-episode {
  width: 100%;
  border: 2px solid;
  position: absolute;
}

#btn-update{
  width: 100%;
}
