<br>
<br>
<br>
<br>
<div class="wrapper">
  <div class="page-header">
    <div class="filter"></div>
    <div class="container" >
      <div class="row" >
        <div class="col-lg-8 col-sm-6 mr-auto ml-auto" >
          <div class="card card-register" style="width:100%;border:1px solid;">
            <h3 class="title" style="text-align:center;">ทำการใส่รหัสผ่านใหม่</h3>
            <!-- <form class="register-form"> -->
              
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-key"></i>
                  </span>
                </div>

                <input #id type="password" class="form-control" placeholder="กรอก Password ใหม่" (focus)="focus=true" (blur)="focus=false">
                <br>
              </div>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}" style="margin-top:1%;">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-key"></i>
                  </span>
                </div>
                <input #pass type="password" class="form-control" placeholder="กรอก Password ใหม่" (focus)="focus1=true" (blur)="focus1=false">
              </div>
              <br>
              <button class="btn btn-danger btn-block btn-round" (click)="submit(id.value,pass.value)">Submit</button>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
