<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="/homeadmin">LOGO</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/homeadmin/">ADMIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homeadmin/management/">Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homeadmin/createwebboardadmin">WEBBORARD</a>
        </li>
      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form my-0">
          <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
          <button type="button" class="btn btn-primary" (click)="logout();">Logout</button>
        </div>
      </form>
    </div>
    <!-- Collapsible content -->
  </div>


</nav>
